.Rhistory
*.RData
*.mexa64
*.err
*.out
*.aux
*.log
*.txt
*.txt.gz
*.sbatch
*.mat

local/

src/lightspeed*
src/lapack*
src/progress.m
src/compute_pve2.m
src/rss_bvsr_mdp.m
src/rss_bvsr_cap.m
src/propose_gamma_cap.m

